body {
  background: #EBAC33;
  color: #333333;
  /*margin-top: 5rem;*/
  /*font-size: 14px;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.site-header .navbar-brand {
    color: #ffffff;
    font-family: 'Rubik Puddles', cursive;
    font-size: 48px;
    font-weight: bold;
}

.site-header .navbar-brand:hover {
    color: #e82c3d;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 40px;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #b90b0b;
}

.nav-link:hover {
    color: #dddddd;
}

.login-btn {
    border-radius: 20px; /* Zaokrąglenie rogów guzika */
    background-color: #e82c3d; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.login-btn:hover {
    background-color: #e85665; /* Kolor tła guzika */
    color: white;
}

.logout-btn {
    border-radius: 20px; /* Zaokrąglenie rogów guzika */
    background-color: #c46500; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.logout-btn:hover {
    background-color: #cb7b2c; /* Kolor tła guzika */
    color: white;
}

.content-section {
    display: flex;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.logo-section {
    position: relative;
    flex: 1;
    text-align: center;
}

.company-name {
    font-family: 'Neucha', cursive;
    font-size: 80px;
    color: #EBAC33;
    font-weight: bold;
    /*color: #edfdfd;*/
}

.image-section img {
    flex: 1;
    border-radius: 20px;
}

.match-button {
    display: grid;
    place-items: center;
}
.match-btn {
    display: inline-block;
    border-radius: 30px;
    border: 8px solid white;
    background-color: #EBAC33; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 40px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.match-btn:hover {
    background-color: #e7a41f; /* Kolor tła guzika */
    border: 8px solid #c2bfbf;
    color: #c2bfbf;
}

.match-button .arrow-img {
    text-align: center;
}
.arrow-img img {
    display: block;
}

.fries-gif {
    text-align: center;
}
.fryty-img img {
    border-radius: 50px;
    margin-top: 1000px;
    margin-bottom: 60px;
}

.custom-text-about{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #691414;
    /*text-transform: uppercase;*/
}



.left-div {
    position: relative;
    flex: 1;
    float: left;
    text-align: right;
    margin-left: 100px;
}

.content-text-about {
    font-family: 'Neucha', cursive;
    color: #000000;
    /*background-color: #ffffff;*/
    /*border-radius: 20px;*/
    /*border: 5px solid rgba(134, 128, 128, 0.18);*/
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: right;
    font-size: 20px;
}

.right-div {
    float: right;
    text-align: left;
    margin-right: 100px;
}
.logo-section-about {
    height: 150%;
    width: auto;
}

.contact-us .info {
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.contact-us .number {
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 25px;
    color: #dddddd;
}

.register-content{
    background-color: #ffffff;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.join-text {
    color: #b90b0b;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Neucha', cursive;
    margin-top: 10px;
    text-align: center;
}

.form-control-label {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

.form-check-input .text-muted{
    font-family: 'Cantarell', sans-serif;
}
.btn-outline-info {
    background-color: #e82c3d;
    font-family: 'Cantarell', sans-serif;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;
}

.btn-outline-info:hover {
    background-color: #e85665;
}

.account-info {
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.account-image {
    position: relative;
    flex: 1;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.account-txt {
    flex: 1;
    float: right;
    text-align: left;
    margin-left: 10px;
}

.account-image img{
  height: 200px;
  width: 200px;
}

.account-txt .account-name{
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.account-txt .account-email{
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #a91c1c;
    font-weight: bold;
}

.preferences {
    margin-top: 50px;
}

.fav-filters {
    font-family: 'Neucha', cursive;
    margin-left: 20px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.restaurants {
    font-family: 'Neucha', cursive;
    margin-left: 20px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

/*.container-match {*/
/*    display: flex;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

.filters {
    margin: 20px;
}

.cousine-content {
    margin-top: 10px;
}
.labels-txt {
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #a91c1c;
    font-weight: bold;
    display: block;
    margin-bottom: 22px;
}
.cousine {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.cousine-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.price-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.ratings-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.distance-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.price-content {
    margin-top: 10px;
}

.price {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.rating-content {
    margin-top: 10px;
}
.ratings {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.distance-content {
    margin-top: 10px;
}

.distance {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.info-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.first-label {
    margin-bottom: 15px;
}

.second-label {
    margin-bottom: 10px;
    text-align: center;
    flex: 2;
}

.filters-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.labels-column {
    text-align: right;
}

.importance-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}


.btn-save {
    border-radius: 20px;
    background-color: #ce6e11;
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.btn-save:hover {
    background-color: #c77a31;
    color: white;
}

.find-restaurant {
    display: grid;
    place-items: center;
}

.btn-find {
    display: inline-block;
    border-radius: 30px;
    border: 8px solid white;
    background-color: #EBAC33; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 40px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-find:hover {
    background-color: #e7a41f; /* Kolor tła guzika */
    border: 8px solid #c2bfbf;
    color: #c2bfbf;
}

.filters-column {
    text-align: center;
}

.col .weight-column {
    display: block;
    text-align: center;
}

.karuzela {
    margin-top: 50px;
}

.carousel-caption {
    margin-top: 50px;
}

#myCarousel {
    display: none;
}


/*.site-header .navbar-brand {*/
/*    color: #2b235b;*/
/*    font-family: Alfa Slab One;*/
/*    font-weight: 800;*/
/*    font-size: 20px;*/
/*}*/



/*.site-header .navbar-nav .nav-link:hover {*/
/*  color: #ffffff;*/
/*}*/

/*!*nie potrzebne to jest*!*/
/*.site-header .navbar-nav .nav-link.active {*/
/*  font-weight: 500;*/
/*}*/

/*.navbar .navbar-collapse {*/
/*  text-align: center;*/
/*}*/


.main-text-section {
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}


.social-media img{
  padding: 5px;
  opacity: 0.7;
}

.main-image {
    padding: 10px;
    width: 100%;
    height: auto;
     position: relative;
}


.main-image img{
  width: 100%;
  height: 100%;
  opacity: 0.5;
    position: relative;
}


.main-image .centered {
 position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    text-align: center;

  /*transform: translate(-50%, -50%);*/
    font-size: 55px;
    font-family: Alfa Slab One;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 5px 5px 10px #000000;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}




.custom-text-opinions{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-family: Alfa Slab One;
    font-weight: bold;
    font-size: 30px;
    color: #020002;
}

.comment-content {
    background-color: #eff4f8;
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.comment-details {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}





.content-about-img{
    padding: 10px;
    width: 100%;
    height: auto;
}

.content-about-img img{
  /*width: 400px;*/
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*margin-left:50px;*/
}

.contact-us{
    padding: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
  text-align: center;
  font-size: 15px;
    margin-top: 40px;
}

.color1 {
  color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: Alfa Slab One;
}

.color2 {
  color: #2b235b;
  font-weight: bold;
    font-size: 20px;
    font-family: Alfa Slab One;
}

.thanks-content {

    width: 100%;
    height: auto;

    margin-top: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}


/*.thanks-content .thanks-centered {*/
/* position: absolute;*/
/*   top: 50%;*/
/*   left: 50%;*/
/*   transform: translate(-50%, -50%);*/
/*    text-align: center;*/

/*  !*transform: translate(-50%, -50%);*!*/
/*    font-size: 55px;*/
/*    font-family: Alfa Slab One;*/
/*    font-weight: bold;*/
/*    color: #ffffff;*/
/*    text-shadow: 5px 5px 10px #000000;*/
/*    !*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*!*/
/*}*/





.navbar-content {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.content-login img{
  width: 100%;
  height: 100%;
}

.content-register-img{
    width: 100%;
  height: 100%;
    float: left;
}

.content-register-text{
    width: 100%;
  height: 100%;
    float: right;
}

.content-section-text{
     width: 90%;
}



/*.table thead{*/
/*  background-color: #7f879f;*/
/*}*/

/*.table tbody tr:nth-child(odd) {*/
/*  background-color: #ffffff;*/
/*}*/

/*.table tbody tr:nth-child(even) {*/
/*  background-color: #ffffff;*/
/*}*/


.custom-table thead{
  background-color: #7f879f;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #b9ebfd;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}


.media{
    padding: 10px;
    width: 100%;
    height: auto;
    position: relative;
}

.media-body{
    font-weight: bold;
    font-family: Alfa Slab One;
    margin-top: 10px;
    text-align: center;
}

.card img{
    padding: 5px;
}
.card{
    border-radius: 10px;
}
/*.card{*/
/*    padding: 10px;*/
/*}*/

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;

  font-family: 'Alfa Slab One';
  font-style: normal;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  margin-left: 100px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}



.account-heading {
  font-size: 2.5rem;
}

.main-login-content{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 600px;
  background-color: #ffffff;
  position: center;
}



.content-login {
  /*background: #d8f1ff;*/
  /*padding: 10px 20px;*/
  /*border: 1px solid #dddddd;*/
  /*border-radius: 3px;*/
  float: left;
  width: 50%;
  padding: 5px;
}
.content-login .content-section{
  margin-right: 20px;
  margin-top: 70px;
}

.main-register-content{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 600px;
  background-color: #ffffff;
  position: center;
}

/*.content-register img{*/
/*  width: 360px;*/
/*  height: 100%;*/
/*}*/

/*.content-register{*/

/*  float: left;*/
/*  width: 50%;*/
/*  padding: 5px;*/
/*}*/

/*.content-register .content-section{*/
/*  margin-right: 20px;*/
/*  margin-top: 30px;*/

/*}*/


/*                 */
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.section-header {
    margin-bottom: 60px;
    text-align: center;
}
.section-header i {
    color: #ff007d;
    font-size: 50px;
    display: inline-block;
    margin-bottom: 10px;
}
.section-header h2 {
    font-weight: bold;
    font-size: 34px;
    margin: 0;
}
.section-header p {
    max-width: 500px;
    margin: 20px auto 0;
}
.single-publication {
    border: 1px solid #f2eee2;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: #edfdfd;
}

.single-publication product-image {
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;

}
.single-publication product-image figure > img {
    position: relative;
        width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;

}
.single-publication figure > a {
    background-color: #fafafa;
    width: 100px;
    height: 300px;
    display: block;

}
.single-publication figure ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: -50px;
    top: 20px;
    transition: .6s;
    -webkit-transition: .6s;
}
.single-publication:hover figure ul {
    right: 15px;
}
.single-publication figure ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    background: #ff007d;
    margin-bottom: 7px;
    border-radius: 50%;
    line-height: 35px;
    color: #fff;
}
.single-publication figure ul li a:hover {
    color: #fff;
    background: #e50663;
}
.single-publication .publication-content {
    text-align: center;
    padding: 20px;
}
.single-publication .publication-content .category {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ff007d;
    font-weight: 600;
}
.single-publication .publication-content h3 {
    font-weight: 600;
    margin: 8px 0 10px;
    font-size: 20px;
}
.single-publication .publication-content h3 a {
    color: #1f2d30;
}
.single-publication .publication-content h3 a:hover {
    color: #ff007d;
}
.single-publication .publication-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.single-publication .publication-content ul li {
    display: inline-block;
    font-size: 18px;
    color: #fec42d;
}
.single-publication .publication-content .price {
    font-size: 18px;
    color: #ff007d;
}
.single-publication .publication-content .price span {
    color: #6f6f6f;
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: 300;
}
.single-publication .add-to-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    height: 105px;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
.single-publication:hover .add-to-cart {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
.single-publication .add-to-cart .default-btn {
    margin-top: 28px;
    padding: 8px 25px;
    font-size: 14px;
}

.single-publication .add-to-cart .product-quantity{
    margin-top: 10px;
    /*padding: 8px 25px;*/
    /*font-size: 14px;*/
}

.single-publication .category {
    margin: 0;
}
.single-publication .add-to-cart .default-btn {
    margin-top: 28px;
    padding: 8px 25px;
    font-size: 14px;
}
.default-btn {
    background-color: #00b2ff;
    color: #fff;
    border: 1px solid #00b2ff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.default-btn:hover {
    color: #fff;
    text-decoration: none;
}


/*.border-bottom legend{*/
/*  text-align: center;*/
/*  font-family: "Alfa Slab One";*/
/*}*/

/*.v37_49 {*/
/*  width: 100%;*/
/*  height: 1024px;*/
/*  background: rgba(227,245,255,1);*/
/*  opacity: 1;*/
/*  position: relative;*/
/*  top: 0px;*/
/*  left: 0px;*/
/*  border-top-left-radius: 15px;*/
/*  border-top-right-radius: 15px;*/
/*  border-bottom-left-radius: 15px;*/
/*  border-bottom-right-radius: 15px;*/
/*  overflow: hidden;*/
/*}*/
/*.v37_50 {*/
/*  width: 100%;*/
/*  height: 94px;*/
/*  background: rgba(255,255,255,1);*/
/*  opacity: 1;*/
/*  position: relative;*/
/*  top: 0px;*/
/*  left: 0px;*/
/*  overflow: hidden;*/
/*}*/
/*.v37_51 {*/
/*  width: 28px;*/
/*  height: 23px;*/
/*  background: rgba(0,0,0,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 38px;*/
/*  left: 123px;*/
/*}*/
/*.v37_52 {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  background: rgba(0,0,0,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 35px;*/
/*  left: 85px;*/
/*}*/
/*.v37_53 {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  background: rgba(0,0,0,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 37px;*/
/*  left: 47px;*/
/*}*/
/*.v37_56 {*/
/*  width: 241px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 19px;*/
/*  left: 615px;*/
/*  font-family: Alfa Slab One;*/
/*  font-weight: Regular;*/
/*  font-size: 48px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v37_57 {*/
/*  width: 113px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 18px;*/
/*  left: 1150px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v37_58 {*/
/*  width: 113px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 18px;*/
/*  left: 1275px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v37_59 {*/
/*  width: 100%;*/
/*  height: 67px;*/
/*  background: rgba(216,241,255,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 87px;*/
/*  left: 0px;*/
/*  overflow: hidden;*/
/*}*/
/*.v37_60 {*/
/*  width: 46px;*/
/*  color: rgba(11,87,158,1);*/
/*  position: absolute;*/
/*  top: 96px;*/
/*  left: 531px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: left;*/
/*}*/
/*.v37_61 {*/
/*  width: 89px;*/
/*  color: rgba(11,88,158,1);*/
/*  position: absolute;*/
/*  top: 96px;*/
/*  left: 733px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 25px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v37_62 {*/
/*  width: 189px;*/
/*  color: rgba(11,88,158,1);*/
/*  position: absolute;*/
/*  top: 96px;*/
/*  left: 565px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v37_63 {*/
/*  width: 144px;*/
/*  color: rgba(11,88,158,1);*/
/*  position: absolute;*/
/*  top: 94px;*/
/*  left: 825px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 25px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v38_66 {*/
/*  width: 100%;*/
/*  height: 630px;*/
/*  background: rgba(255,255,255,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 197px;*/
/*  left: 88px;*/
/*  overflow: hidden;*/
/*}*/
/*.v45_154 {*/
/*  width: 319px;*/
/*  height: 39px;*/
/*  background: rgba(255,255,255,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 490px;*/
/*  left: 831px;*/
/*  border: 1px solid rgba(201,201,201,1);*/
/*  overflow: hidden;*/
/*}*/
/*.v40_149 {*/
/*  width: 156px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 439px;*/
/*  left: 796px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v40_143 {*/
/*  width: 344px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 269px;*/
/*  left: 818px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 36px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v40_144 {*/
/*  width: 319px;*/
/*  height: 39px;*/
/*  background: rgba(255,255,255,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 386px;*/
/*  left: 831px;*/
/*  border: 1px solid rgba(201,201,201,1);*/
/*  overflow: hidden;*/
/*}*/
/*.v40_147 {*/
/*  width: 156px;*/
/*  color: rgba(0,0,0,1);*/
/*  position: absolute;*/
/*  top: 346px;*/
/*  left: 780px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v40_150 {*/
/*  width: 317px;*/
/*  height: 45px;*/
/*  background: rgba(79,180,233,1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 588px;*/
/*  left: 831px;*/
/*  border-top-left-radius: 60px;*/
/*  border-top-right-radius: 60px;*/
/*  border-bottom-left-radius: 60px;*/
/*  border-bottom-right-radius: 60px;*/
/*  overflow: hidden;*/
/*}*/
/*.v40_151 {*/
/*  width: 173px;*/
/*  color: rgba(255,255,255,1);*/
/*  position: absolute;*/
/*  top: 584px;*/
/*  left: 904px;*/
/*  font-family: NATS;*/
/*  font-weight: Regular;*/
/*  font-size: 24px;*/
/*  opacity: 1;*/
/*  text-align: center;*/
/*}*/
/*.v40_153 {*/
/*  width: 405px;*/
/*  height: 673px;*/
/*  background: url("../images/v40_153.png");*/
/*  background-repeat: no-repeat;*/
/*  background-position: center center;*/
/*  background-size: cover;*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  top: 154px;*/
/*  left: 88px;*/
/*  overflow: hidden;*/
/*}*/