body {
  background: #EBAC33;
  color: #333333;
  /*margin-top: 5rem;*/
  /*font-size: 14px;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.site-header .navbar-brand {
    color: #ffffff;
    font-family: 'Rubik Puddles', cursive;
    font-size: 48px;
    font-weight: bold;
}

.site-header .navbar-brand:hover {
    color: #e82c3d;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 40px;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #b90b0b;
}

.nav-link:hover {
    color: #dddddd;
}

.login-btn {
    border-radius: 20px; /* Zaokrąglenie rogów guzika */
    background-color: #e82c3d; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.login-btn:hover {
    background-color: #e85665; /* Kolor tła guzika */
    color: white;
}

.logout-btn {
    border-radius: 20px; /* Zaokrąglenie rogów guzika */
    background-color: #c46500; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.logout-btn:hover {
    background-color: #cb7b2c; /* Kolor tła guzika */
    color: white;
}

.content-section {
    display: flex;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.logo-section {
    position: relative;
    flex: 1;
    text-align: center;
}

.company-name {
    font-family: 'Neucha', cursive;
    font-size: 80px;
    color: #EBAC33;
    font-weight: bold;
    /*color: #edfdfd;*/
}

.image-section img {
    flex: 1;
    border-radius: 20px;
}

.match-button {
    display: grid;
    place-items: center;
}
.match-btn {
    display: inline-block;
    border-radius: 30px;
    border: 8px solid white;
    background-color: #EBAC33; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 40px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.match-btn:hover {
    background-color: #e7a41f; /* Kolor tła guzika */
    border: 8px solid #c2bfbf;
    color: #c2bfbf;
}

.match-account-btn {
    display: inline-block;
    border-radius: 30px;
    border: 8px solid white;
    background-color: #EBAC33; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 20px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}
.match-account-btn:hover {
    background-color: #e7a41f; /* Kolor tła guzika */
    border: 8px solid #c2bfbf;
    color: #c2bfbf;
}

.delete-button {
    background-color: #c46500; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 20px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.delete-button:hover {
    background-color: #d564a2; /* Kolor tła guzika */
    color: white;
}

.match-button .arrow-img {
    text-align: center;
}
.arrow-img img {
    display: block;
}

.fries-gif {
    text-align: center;
}
.fryty-img img {
    border-radius: 50px;
    margin-top: 1000px;
    margin-bottom: 60px;
}

.custom-text-about{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #691414;
    /*text-transform: uppercase;*/
}



.left-div {
    position: relative;
    flex: 1;
    float: left;
    text-align: right;
    margin-left: 100px;
}

.content-text-about {
    font-family: 'Neucha', cursive;
    color: #000000;
    /*background-color: #ffffff;*/
    /*border-radius: 20px;*/
    /*border: 5px solid rgba(134, 128, 128, 0.18);*/
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: right;
    font-size: 20px;
}

.right-div {
    float: right;
    text-align: left;
    margin-right: 100px;
}
.logo-section-about {
    height: 150%;
    width: auto;
}

.contact-us .info {
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.contact-us .number {
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 25px;
    color: #dddddd;
}

.register-content{
    background-color: #ffffff;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.join-text {
    color: #b90b0b;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Neucha', cursive;
    margin-top: 10px;
    text-align: center;
}

.form-control-label {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

.form-check-input .text-muted{
    font-family: 'Cantarell', sans-serif;
}
.btn-outline-info {
    background-color: #e82c3d;
    font-family: 'Cantarell', sans-serif;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;
}

.btn-outline-info:hover {
    background-color: #e85665;
}

.account-info {
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.account-image {
    position: relative;
    flex: 1;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.account-txt {
    flex: 1;
    float: right;
    text-align: left;
    margin-left: 10px;
}

.account-image img{
  height: 200px;
  width: 200px;
}

.account-txt .account-name{
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.account-txt .account-email{
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #a91c1c;
    font-weight: bold;
}

.preferences {
    margin-top: 50px;
}

.fav-filters {
    font-family: 'Neucha', cursive;
    margin-left: 20px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.restaurants {
    font-family: 'Neucha', cursive;
    margin-left: 20px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

/*.container-match {*/
/*    display: flex;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

.filters {
    margin: 20px;
}

.cuisine-content {
    margin-top: 10px;
}
.labels-txt {
    flex: 1;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #a91c1c;
    font-weight: bold;
    display: block;
    margin-bottom: 22px;
}
.cuisine {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.cuisine-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.price-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.ratings-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.distance-weight {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    /*display: block;*/
    margin-bottom: 10px;
}

.price-content {
    margin-top: 10px;
}

.price {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.rating-content {
    margin-top: 10px;
}
.ratings {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.distance-content {
    margin-top: 10px;
}

.distance {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.info-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.first-label {
    margin-bottom: 15px;
}

.second-label {
    margin-bottom: 10px;
    text-align: center;
    flex: 2;
}

.filters-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.labels-column {
    text-align: right;
}

.importance-label {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}


.btn-save {
    border-radius: 20px;
    background-color: #ce6e11;
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}
.btn-save:hover {
    background-color: #c77a31;
    color: white;
}

.find-restaurant {
    display: grid;
    place-items: center;
}

.btn-find {
    display: inline-block;
    border-radius: 30px;
    border: 8px solid white;
    background-color: #EBAC33; /* Kolor tła guzika */
    color: white; /* Kolor tekstu w guziku */
    font-size: 40px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-find:hover {
    background-color: #e7a41f; /* Kolor tła guzika */
    border: 8px solid #c2bfbf;
    color: #c2bfbf;
}

.filters-column {
    text-align: center;
}

.col .weight-column {
    display: block;
    text-align: center;
}

.karuzela {
    margin-top: 50px;
}

.carousel-caption {
    margin-top: 50px;
}

.carousel-navigation {
  position: absolute;
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  margin: 0;
  padding: 0;
  text-align: center;
  /* Dodaj inne style dla nawigacji */
}

.carousel-indicators {
    position: relative;
    margin-top: 30px;
    margin-bottom: 70px;
    left: 0;
    right: 0;
    padding: 0;
    text-align: center;
}

.serce {
    width: 40px;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-top: 20px;

}

.image-button {
    border-color: rgba(221, 221, 221, 0);
    background-color: rgba(121, 32, 32, 0);
}

.rest-name {
    font-family: 'Neucha', cursive;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.obraz-karuzela {
    width: 700px;
    height: auto;
    border-radius: 20px;
}

.contact-us {
    padding: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
}

.no-restaurants {
    font-family: 'Neucha', cursive;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.restaurant-info {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #ffffff;
}

.rest-name-container {
    text-align: right;
}

.center-button {
  text-align: center;
}

.opis-tabeli {
    background-color: #da802d;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-weight: bold;

}

.kontent-tabeli {
    background-color: #e7be90;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

.preferences-table {
    margin-top: 20px;
}