{% extends "layout.html" %}
{% block content %}

    <div class="content-about">
        <div class="row">
            <div class="custom-text-about ">
                <p>Swipe right on your next favourite restaurant with DINEDER</p>
            </div>
        </div>

        <div class="row">
            <div class="left-div">
                <div class="content-text-about">
                    <p>
Przedstawiam Ci niesamowitą aplikację webową, która zrewolucjonizuje Twój sposób szukania idealnej restauracji! Witaj w Dineder, innowacyjnym narzędziu online, które na podstawie Twoich preferencji i kryteriów dobierze najsmaczniejsze i najodpowiedniejsze miejsce do jedzenia.

Dineder to aplikacja webowa stworzona specjalnie dla osób ceniących dobrą kuchnię i wyjątkowe doświadczenia kulinarne. Już nie musisz tracić czasu na przeglądanie dziesiątek recenzji czy nieudanych prób odnalezienia idealnego miejsca na kolację. Dineder przejmuje stery i gwarantuje, że Twoje podniebienie zostanie usatysfakcjonowane.

Jak to działa? To proste! Wchodząc na stronę Dineder, wprowadzasz swoje preferencje. Możesz określić rodzaj kuchni, budżet, lokalizację, atmosferę, obsługę i wiele innych czynników. Nasz zaawansowany algorytm analizuje te dane i błyskawicznie przegląda setki restauracji, aby znaleźć idealne dopasowanie dla Ciebie.

Dineder ma dostęp do ogromnej bazy danych, która obejmuje zarówno popularne miejsca, jak i ukryte perełki kulinarnego świata. Nasz system stale aktualizuje informacje, aby dostarczyć Ci najświeższe i najdokładniejsze dane o restauracjach.

Po wprowadzeniu preferencji, zobaczysz listę najlepiej dopasowanych restauracji, wraz z ich ocenami, opiniami innych użytkowników oraz szczegółowym opisem menu. Ponadto, dzięki naszej funkcji mapy, dowiesz się, jak dojechać do wybranej restauracji i jakie są okoliczne atrakcje.

Ale to nie koniec! Dineder daje Ci możliwość rezerwacji stolika bezpośrednio przez stronę. Nie musisz dzwonić ani wysyłać maila – wszystko załatwisz w zasięgu kilku kliknięć.

Dineder to nie tylko aplikacja webowa, to Twoje osobiste przewodnictwo po świecie kulinarnym. Bez względu na to, czy jesteś miłośnikiem fine diningu, egzotycznych smaków czy po prostu szukasz przytulnego miejsca na romantyczną kolację, Dineder znajdzie dla Ciebie restaurację, która spełni Twoje oczekiwania.

Przygotuj się na kulinarne przygody i odkrywanie smaków, których nie doświadczyłeś dotąd. Odwiedź już dziś stronę Dineder i pozwól nam odprowadzić Cię w podróż do doskonałego jedzenia!
                    </p>
                </div>
            </div>

            <div class="right-div">
               <div class="logo-section-about">
                   <img src="static/pictures/dineder-icon.png" alt="=logo" />
               </div>
            </div>

        </div>

        <div class="row">
            <div class="contact-us">
                <p class="info">Contact Us:</p>
                <p class="number">+48 882 807 112</p>
             </div>
        </div>
    </div>

{% endblock content%}