{% extends "layout.html" %}
{% block content %}

    <div class="content-section" style="background-color: white">
        <div class="logo-section">
          <img src="static/pictures/dineder-icon.png" alt="=logo" />
          <span class="company-name">DINEDER</span>
        </div>
        <div class="image-section">
          <img src="static/pictures/restaurant.png" alt="restaurant" />
        </div>
    </div>

    <div class="match-button">
        <a href="/match" class="btn match-btn">Find your MATCH</a>
        <div class="arrow-img">
            <img src="static/pictures/arrow.png" alt="restaurant" />
            <img src="static/pictures/arrow.png" alt="restaurant" />
            <img src="static/pictures/arrow.png" alt="restaurant" />
        </div>
    </div>

    <div class="fries-gif">
        <div class="fryty-img">
            <img src="static/pictures/fryty.gif" alt="fryty" />
        </div>
    </div>

{% endblock content%}